* {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
  }
  
  /* NAVBAR */
  .navbar {
    height: 80px;
    background-color:darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
  }
  
  .navbar h1 {
    font-size: 50px;
    color: white;
  }
  
  .navitem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -2rem;
  }

  /* FORM */
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20rem;
    padding: 0 4rem;
  }

/* TABLE */
.table {
  border-collapse: collapse;
  width: 100%;
}

.td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.element {
  margin: 0 4rem;
}

.account-background {
  width: 98%;
  height: 98%;
  background-color: darkolivegreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-container {
  width: 93%;
  height: 93%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
}